<mat-toolbar class="px-1.5 relative shadow-[0_1px_8px_rgba(0,0,0,0.3)] z-9 flex justify-between">
  <button matButton class="flex items-center justify-center">
    <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="home"></mat-icon>
  </button>

  <h2 class="truncate my-auto leading-12.5 pl-2 pr-16">The Pokedex</h2>

    <button matButton class="flex items-center justify-center">
      <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="group"></mat-icon>
    </button>
</mat-toolbar>
